<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}"/>
    <!-- UIkit JS -->
    <script defer src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <!--    <script defer src="static/js/uikit-icons.min.js"></script>-->
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>