{% extends "admin_base.html.j2" %}
{% block admin_content %}
<h3 class="uk-h3">Login</h3>
<form method="POST" action="/login">
    <div class="uk-margin uk-flex uk-flex-column">
        <label for="user-input">Username :</label>
        <input id="user-input" class="uk-input" placeholder="Your username" name="user">
    </div>
    <div class="uk-margin uk-flex uk-flex-column">
        <label for="password-input">Password :</label>
        <input id="password-input" class="uk-input" placeholder="Your password" type="password" name="password">
    </div>
    <div class="uk-margin">
        <label for="remember-checkbox">Remember :</label>
        <input id="remember-checkbox" class="uk-checkbox " type="checkbox" name="remember">
    </div>
    <div class="uk-margin">
        <button class="uk-button">Login</button>
    </div>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="uk-alert-danger uk-margin">
    <p class="uk-padding-small">{{ messages[0] }}</p>
</div>
{% endif %}
{% endwith %}
{% endblock %}
